body {
    font-family: "Roboto", sans-serif;
    background-color: #58dbec;
    }
    .container{
        text-align: center;
        justify-content: center;      
    }
    .container-fluid{
        background-color: #22b8cc;
        justify-content: flex-end;
    }
    .networks{
        justify-content: center;
        text-align: center;
        text-decoration: none;
        background-color: aquamarine;
    }
    .colorfondo{
    background-color: #22b8cc;
    }
    .text-center{
        background-color: #58dbec;
    }
    .card-title,
    .form-control,
    .button{
    font-weight: serif;
    font-size: 20px;
    }
    .button {
    font-size: large;
    text-align: center;
    }